# Игнорировать файлы с расширением .pyc
*.pyc

# Игнорировать каталоги с именем __pycache__
__pycache__

# Игнорировать файлы и каталоги, которые генерирует система сборки
/build/
/dist/

# Игнорировать файлы с конфиденциальной информацией
secret.txt
credentials.json

# Игнорировать локальные настройки IDE
.idea/
.vscode/

venv/